.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;

}

.hero img{
    margin-top: 80px;
    width: 180px;
    border-radius: 50px;
}

.hero h1{
    text-align: center;
    width: 70%;
    font-size: 50px;
    font-weight: 600;
    color: #7c6c81;
}
.hero h1 span{
    background: linear-gradient(267deg,#DA7C25 0.36%, #b923e1);
    background-clip: text ;
    -webkit-background-clip: text ;
    -webkit-text-fill-color: transparent;
}

.hero p{
    width: 100%;
    text-align: center;
    font-size: 22px;
    line-height: 40px;
    font-weight: 600;
}

.hero-action{
    display: flex;
    align-items: center;
    gap: 28px;
    font-size: 24;
    font-weight: 500;
    margin-bottom: 50px;
}

.hero-connect{
    padding: 20px;
    border-radius: 50px;
    background: linear-gradient(267deg,#DA7C25 0.36%, #b923e1);
    cursor: pointer;
    color: white;
    transition: 0.5s;

}

.hero-resume{
    padding: 18px 45px;
    border-radius: 50px;
    border: 2px solid #fff;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 600;
    font-size: 17px;


}

.hero-connect:hover, .hero-resume:hover{
    transform: scale(1.05);
    border: 3px solid #7c6c81;
}

