.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
}
.about-title {
  position: relative;
}
.about-title h1 {
  padding: 0 30px;
  font-size: 60px;
  font-weight: 600;
}

.about-title img {
  position: absolute;
  bottom: 1;
  top:45px;
  right: 0;
  z-index: -1;
}

.about-section {
  display: flex;
  gap: 80px;
  margin-top: 50px;
}

.about-left img {
  border-radius: 50px;
  height: 250px;
}

.about-right {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.about-para {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 24px;
  font-weight: 500;
}

.about-skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-skill {
  display: flex;
  gap: 50px;
  align-items: center;
  transform: 0.3s;
}
.about-skill p {
  min-width: 150px;
  font-size: 20px;
  font-weight: 500;
}

.about-skill hr {
  outline: none;
  border: none;
  width: 50%;
  height: 8px;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
}
.about-achievements {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-bottom: 80px;
}

.about-achievement {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  transition: 0.5s;
}
.about-achievement h1 {
  font-size: 50px;
  font-weight: 700;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-achievement p {
  font-size: 18px;
  font-weight: 500;
}

.about-skill:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
.about-achievement:hover {
  transform: scale(1.12);
  transition: 0.5s;
}

/* Media QUery */

@media (max-width: 850px) {
  .about {
    margin: 80px 60px;
  }
  .about-title h1 {
    width: 100%;
  }
  .about-title img{
    top:40px;
  }
  .about-left{
    display: none;
  }
  .about-para{
    font-size: 20px;
  }
  .about-achievements{
    justify-content: space-between;
    width: 90%;
    gap: 30px;
    margin-bottom: 30px;
  }
  
  .about-achievements hr{
   display: none;
  }
}

@media (max-width: 560px) {
    .about {
      margin: 65px 50px;
    }
    .about-title h1 {
      width: 100%;
      font-size: 47px;
    }
    .about-title img{
      top:30px;
      left:70px;
      width: 170px;
    }

  }